<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Ceridian APPDEV Test - @ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<header></header>
	<nav>
		@{
			var links = new[] {
				new KeyValuePair<string, string>("Home", "Home"),
				new KeyValuePair<string, string>("MvcHttp", "MVC / HTTP"),
				new KeyValuePair<string, string>("Javascript", "Javascript"),
				new KeyValuePair<string, string>("Sql", "SQL"),
				new KeyValuePair<string, string>("HtmlCss", "HTML / CSS"),
				new KeyValuePair<string, string>("CSharp", "C#"),
				new KeyValuePair<string, string>("CSharpAdv", "Advanced C#"),
			};
		}
		@foreach (var link in links)
		{
			@Html.ActionLink(link.Value, "Index", link.Key, null, new { @class = ViewContext.RouteData.Values["controller"].ToString().ToLower() == link.Key.ToLower() ? "selected" : null })
		}
	</nav>
	<article>
		@RenderBody()
	</article>
	@Scripts.Render("~/bundles/jquery")
	@RenderSection("scripts", false)
</body>
</html>
